mat-card {
  margin: 16px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;

  .avatar {
    margin: 0 8px;
    flex: 0 0 48px;
  }

  .name {
    flex: 0 0 200px;
  }

  .status-message {
    min-width: 160px;
    flex: 1 0 160px;
  }

  .schedule {
    flex: 4 0 240px;
  }
}

.clear-button {
  position: absolute;
  top: 8px;
  right: 8px;
}
