<mat-card *ngIf="presence$ | async as presence; else loading">
  <mat-card-content class="card-content">
    <button *ngIf="editMode" (click)="remove()" mat-icon-button color="warn"
      class="clear-button"><mat-icon>clear</mat-icon></button>
    <app-avatar [user]="user" class="avatar"></app-avatar>
    <div class="name">
      <div>{{user.displayName}}</div>
      <app-availability [presence]="presence"></app-availability>
    </div>
    <app-status-message [presence]="presence" class="status-message"></app-status-message>
    <app-schedule [user]="user" [targetDate]="targetDate" class="schedule"></app-schedule>
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <mat-card>
    <mat-card-header>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-header>
    <mat-card-content>
      <div class="name">
        <div>{{user.displayName}}</div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
