:host {
  display: block;
}

mat-card {
  margin: 16px;
  min-height: 80px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;

  .avatar {
    margin: 0 8px;
    flex: 0 0 48px;
  }

  .name {
    flex: 0 0 200px;
  }

  .status-message {
    min-width: 160px;
    flex: 1 0 160px;
  }

  .schedule {
    flex: 4 0 240px;
  }
}

.edit-mode-overlay {
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.75);

  > div {
    display: flex;
    height: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;

    .drag-handle {
      box-sizing: border-box;
      flex: 0 0 48px;
      padding: 12px;
      background-color: rgba(192, 192, 192, 0.25);
      overflow: hidden;
    }
  }
}
