<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>transfer_within_a_station</mat-icon>
    <span>&nbsp;&nbsp;</span>
    <span>行き先掲示板</span>
    <span class="flex-fill"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<app-following-list></app-following-list>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/user-list">
    <mat-icon>person_add</mat-icon>
    <span>表示するメンバーを選択</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>ログアウト</span>
  </button>
</mat-menu>
