:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  flex: 0 0 auto;
}

.form-container {
  mat-form-field {
    width: 100%;
  }
}

.table-container {
  flex: 1 1 auto;
  overflow: scroll;
}

.add-button {
  visibility: hidden;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover {
  .add-button {
    visibility: visible;
  }

  .mat-mdc-cell {
    border-color: currentColor;
  }
}
